header {
    background-color: black;
    padding: 10px 0 10px 30px;
    margin: 0 -20px 0 -20px;
}
#content input, #content .btn, #content .alert, #content p {
    height: 48px;
    font-size: 20px;
    line-height: 100%;
}

h1, h2, h3, h4, h5 {
    color: #c71c77;
}

#events .btn-block {
    margin-bottom: 25px;
}

.btn {
    background: #c71c77;
    color: white;
}

.btn:hover {
    background: rgb(182, 29, 110);
    color: white;
}